<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.turbomobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/turbo_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ActionsListActivity"
            android:label="@string/title_activity_actions_list"
            android:parentActivityName=".activity.ActionListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.turbomobile.activity.ActionListActivity" />
        </activity>
        <activity android:name=".activity.ActionDetails" />
        <activity android:name=".activity.GroupsActivity" />
        <activity android:name=".activity.EntitiesListActivity" />
        <activity android:name=".activity.EntityDetailsActivity" />
        <activity android:name=".activity.TargetsListActivity" />
        <activity android:name=".activity.ActionListActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity
            android:name=".activity.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>